.team-description {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  padding: 0 35px;
}

@media (min-width: 1280px) {
  .team-description {
    width: 30%;
  }
}
