.team-main-info {
  width: 50%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.team__league {
  display: none;
}

@media (min-width: 767px) {
  .team-main-info {
    flex-direction: row;
  }

  .team__league {
    height: 95px;
    display: block;
  }
}
