.button {
  cursor: pointer;
  color: var(--primary-color);
  background: transparent;
  border: 3px solid;
  border-image: linear-gradient(45deg, #09daff 0%, #641eaa 100%) 1;
  border-radius: 5px;
  text-transform: uppercase;
}

.button--big {
  padding: 15px;
  font-size: 20px;
}

.button--medium {
  padding: 10px;
  font-size: 16px;
}
