.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 45px;
}

.team__name {
  font-size: 36px;
  text-transform: uppercase;
}

.profile__content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  gap: 15px;
}

.first-team-details {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
