.teamlist {
  flex-grow: 1;
  margin: 20px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.teamlist__teams {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 767px) {
  .teamlist {
    flex-wrap: wrap;
    width: 55%;
  }

  .teamlist__teams {
    flex-grow: 1;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
