.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  gap: 20px;
}

@media (min-width: 1280px) {
  .cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 70%;
    gap: 20px;
  }
}
