.home__container {
  flex-grow: 1;
  width: 100%;
  display: flex;
  gap: 25px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../../assets/main-bg.png');
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

@media (min-width: 1280px) {
  .home__container {
    flex-grow: 1;
  }

  .buttons {
    flex-direction: row;
  }
}
