.team__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 200px;
}

.team__info {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.team__name {
  font-size: 20px;
}

.team__logo {
  height: 80px;
}

@media (min-width: 1280px) {
  .team__container {
    flex-direction: column;
    gap: 15px;
  }

  .team__logo {
    height: 120px;
  }
}
