.stadium {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.stadium__name {
  text-align: center;
}

.stadium__img {
  border-radius: 30px;
  width: 350px;
  height: auto;
  object-fit: cover;
}

@media (min-width: 1280px) {
  .stadium__img {
    width: 600px;
  }
}
