.footer {
  width: 100%;
  margin-bottom: 15px;
  margin-top: auto;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: var(--primary-color);
  border-top: 1px solid;
  border-image: linear-gradient(45deg, #09daff 0%, #641eaa 100%) 1;
}

.footer__developer {
  font-size: 15px;
}

.footer__statement {
  font-size: 12px;
  font-weight: bold;
}

@media (min-width: 1280px) {
  .footer__statement {
    font-size: 14px;
  }
}
