.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #130920;
  opacity: 1;
  background: radial-gradient(
      circle,
      transparent 20%,
      #130920 20%,
      #130920 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        #130920 20%,
        #130920 80%,
        transparent 80%,
        transparent
      )
      30px 30px,
    linear-gradient(
        #160927 2.4000000000000004px,
        transparent 2.4000000000000004px
      )
      0 -1.2000000000000002px,
    linear-gradient(
        90deg,
        #160927 2.4000000000000004px,
        #130920 2.4000000000000004px
      ) -1.2000000000000002px 0;
  background-size: 60px 60px, 60px 60px, 30px 30px, 30px 30px;
}
